* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: hsla(123, 88%, 35%, 0.766);
}

.navbar {
    height: 70px;
}

.navbar-brand {
    color: rgb(252, 250, 250) !important;
}

.nav-link {
    color: rgb(254, 250, 250) !important;
}

.nav-link:hover {
    color: rgb(175, 185, 180) !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #93d693;
    color: #f2f9f2df;
}

header {
    background-color: #25aa53;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

main {
    max-width: 2000px;
    margin: 20px auto;
    padding: 20px;
    background-color: (#2faa2f);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 60px;
}

.intro-img {
    width: 45%;
    margin-right: 20px;
    border-radius: 10px;
}

.intro-text {
    width: 55%;
    color: #000;
}

.intro-text h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 1rem;
    line-height: 2.5rem;
}

.lembaga-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.lembaga-item {
    background-color: #2faa2f;
    border: 2px solid #25aa53;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.lembaga-item img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.lembaga-item h2 {
    font-size: 1rem;
    color: #000;
}

.lembaga-item:hover {
    transform: scale(1.05);
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navigation-buttons button {
    background-color: #f0c12e;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #4caf50;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    font-family: sans-serif;
}

/* Kiri footer */
.footer-left {
    flex: 1;
    text-align: left;
    padding-right: 40px;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 120px;
    vertical-align: middle;
    margin-left: 30%;
}

/* Tengah footer */
.footer-center {
    flex: 2;
    text-align: center;
    padding: 0 40px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-center p {
    margin: 3px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Kanan footer */
.footer-right {
    flex: 1;
    text-align: center;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-about {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 5px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 10px;
}

.social-icons a:hover {
    background-color: rgba(175, 185, 180, 0.7);
    border-radius: 50%;
}

.footer-right p {
    margin: 3px 0;
    line-height: 1.5;
    color: white;
}

.footer-center p.footer-copyright {
    font-weight: normal;
    font-size: 14px;
}
