body {
    font-family: 'Poppin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D9EAD9;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 2.5; 
  }
  
  
  /* Header */

 .navbar {
  width: 100%;
  height: 50%;

 }

  
  /* Hero */
  .hero {
    filter: brightness(60%);
    background-image: url('../images/uinsgd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
  }

  .nav {
    filter: none;
    position: absolute;
    top: 0; 
    right: 0; 
    margin-right: 20px; 
    margin-top: 50px; 
    text-shadow: none;
}
  
  .hero h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
  }
  
  .hero h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: white;
  }
  .hero h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: white;
  }
  
  
  /* Profile */
  .profile {
    max-width: 1200px;
    margin: -180px auto;
    padding: 0 20px;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(246, 245, 245, 0.1);
    flex: 1;
    text-align: center;
  }
  
  .card h3 {
    color: #00A651;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card a {
    text-decoration: none;
    color: #00A651;
    font-weight: bold;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; 
    color: #333333; 
    font-weight: 700; 
  }
  
  
  #lembaga1 {
    margin-top: 250px;
    text-align: center;
  }
  
  #lembaga1 p {
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card {
    width: 220px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  
  .card img {
    width: 100%;
    /* height: auto;*/
    display: block;
    
    height: 150px; 
    object-fit: cover; 
    display: block;
    
  }
  
  .label {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .video-container {
    position: relative;
    display: flex; /* Gunakan flexbox */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    width: 100%; /* Sesuaikan lebar kontainer dengan 100% dari elemen induk */
    height: 500px;
    overflow: hidden;
  }
  
  .background {
    
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%; /* Sesuaikan dengan lebar container */
    height: 500px;
  }
  
  .video-container iframe {
    position: relative;
    z-index: 1; /* Pastikan iframe berada di atas background */
    width: 560px;
    height: 315px;
}
  
  /*bagian berita*/
  
  .berita-pembaruan {
    margin-top: 100px;
    padding: 50px;
  }
  
  .container-berita {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .grid-berita {
    display: flex;
    gap: 20px;
  }
  
  .gambar-berita img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px;
  }
  
  .daftar-berita {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .item-berita {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
  }
  
  .tanggal-berita {
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 10px;
  }
  
  .item-berita p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
  }
  
  .muat-lebih {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #00A651;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .muat-lebih:hover {
    background-color: #008a46;
  }
  
  
  /*footer */
  footer {
    background-color: #2FAA2F;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
  }
  
  .footer-logo img {
    width: 100px; 
    height: auto;
  }
  
  .footer-info {
    flex-grow: 1;
    text-align: center;
  }
  
  .footer-info p {
    margin: 0;
  }
  