body {
    font-family: "Poppin", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ead9;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 2.5;
    padding-top: 60px;
}

/* Header */
.header {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header span {
    margin-left: 40px;
}
.header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    margin-right: 40px;
}

.header .dropdown {
    display: inline-block;
    position: relative;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4caf50;
    min-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.header .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .dropdown-content a:hover {
    background-color: #3e8e41;
}

.header .dropdown:hover .dropdown-content {
    display: block;
}

/* hero*/
.hero {
    position: relative;
    background-image: url("../images/uinsgd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero h2 {
    font-family: "Elsie", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    margin: -10px 0 10px 0;
    line-height: 1.2;
}
/*end hero*/

/*container real */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -230px;
}
.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.card h3 {
    margin-top: 0;
    color: #fff;
}

.blue-card h3 {
    margin-top: 0;
    color: black;
}

.blue-card p {
    margin-top: 0;
    color: black;
}
.card p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
.card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    text-align: right;
}
.card a:hover {
    text-decoration: underline;
}
.card-icon {
    font-size: 24px;
    margin-bottom: 10px;
}
.green-card {
    background-color: #7fc37f;
    color: #ffffff;
}
.blue-card {
    background-color: #fff;
    color: #ffffff;
}

.blue-card {
    background-color: #fff;
    color: #ffffff;
}

.blue-card .card-icon {
    color: black;
}

.pusat-section {
    background-color: #c8e6c9;
    padding: 20px;
}
.pusat-section h2 {
    margin-top: 0;
}
.pusat-section p {
    font-size: 16px;
}
.pusat-cards {
    display: flex;
    justify-content: space-between;
}
.pusat-card {
    background-color: #8bc34a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}
.pusat-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.pusat-card h3 {
    margin: 10px 0;
}
.pusat-card p {
    margin: 0 0 10px;
}
.arrow {
    font-size: 24px;
    color: #000000;
    text-align: center;
    line-height: 100px;
}

/*pusat*/
.pusat-section {
    background: linear-gradient(135deg, #f0f0f0 20%, #7fc37f 100%);
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: calc(100% + 200px); /* Menambah lebar melebihi layar */
    left: -100px;
    box-sizing: border-box;
    margin-top: 5%;
}
.pusat-section h2 {
    margin-top: 0;
    font-size: 28px;
    color: #333333;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding-bottom: 10px;
    margin-left: 20px;
}
.pusat-section h2::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #8bc34a;
    bottom: 0;
    left: 0;
}
.pusat-cards {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.pusat-card {
    background-color: #4caf50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 240px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
    margin-right: 20px;
    padding-bottom: 15px;
}
.pusat-card:hover {
    transform: translateY(-10px);
}
.pusat-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.pusat-card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #ffffff;
}
.pusat-card p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2;
}

/*berita*/
.containernews {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5%;
    margin-left: 2%;
}
.sectionnews {
    width: 48%;
}
.sectionnews h2 {
    font-size: 24px;
    color: #2c2c6c;
    margin-bottom: 10px;
}
.sectionnews hr {
    border: 0;
    height: 2px;
    background-color: #4caf50;
    margin-bottom: 20px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-item {
    display: flex;
    margin-bottom: 20px;
}
.news-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}
.news-item .date {
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 5px;
}
.news-item .title {
    font-size: 16px;
    color: #000;
    margin: 0;
}
.read-more {
    font-size: 16px;
    color: #2c2c6c;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.read-more i {
    margin-left: 5px;
}

/* Footer */
.footer {
    background-color: #4caf50;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    font-family: sans-serif;
}

/* Kiri footer */
.footer-left {
    flex: 1;
    text-align: left;
    padding-right: 40px;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 120px;
    vertical-align: middle;
    margin-left: 30%;
}

/* Tengah footer */
.footer-center {
    flex: 2;
    text-align: center;
    padding: 0 40px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-center p {
    margin: 3px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Kanan footer */
.footer-right {
    flex: 1;
    text-align: center;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-about {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 5px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 10px;
}

.social-icons a:hover {
    background-color: rgba(175, 185, 180, 0.7);
    border-radius: 50%;
}

.footer-right p {
    margin: 3px 0;
    line-height: 1.5;
    color: white;
}

.footer-center p.footer-copyright {
    font-weight: normal;
    font-size: 14px;
}
